$font-family: 'Be Vietnam Pro', sans-serif;
$white: #fff;
$black: #363434;
$grey: #5C5757;
$teal: #7DEDFF;
$blue: #26D0CE;
$shadown: rgba(0, 0, 0, 0.1);

:root {
    --black-color: #{$black};
    --white-color: #{$white};
    --grey-color: #{$grey};
    --teal-color: #{$teal};
    --blue-color: #{$blue};
    --shadow-color: #{$shadown};
}

.light {
    --black-color: #eaedfa;
    --white-color: #{$black};
    --grey-color: #{$white};
    --teal-color: #{$blue};
    --shadow-color: #f2f6f9;
}